01.Code/Startup/WinformTest/Connected Services/RemoteServer/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://119.147.144.86:8384/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://119.147.144.86:8384/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://119.147.144.86:8384/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getHunanGps_pxjl_InputMessage">
    <wsdl:part name="parameters" element="tns:getHunanGps_pxjl" />
  </wsdl:message>
  <wsdl:message name="IService1_getHunanGps_pxjl_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHunanGps_pxjlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveHunanGps_pxjl_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveHunanGps_pxjl" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveHunanGps_pxjl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveHunanGps_pxjlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveHunanGps_pxjlByStr_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveHunanGps_pxjlByStr" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveHunanGps_pxjlByStr_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveHunanGps_pxjlByStrResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getHunanGps_pxjl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getHunanGps_pxjl" message="tns:IService1_getHunanGps_pxjl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getHunanGps_pxjlResponse" message="tns:IService1_getHunanGps_pxjl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveHunanGps_pxjl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveHunanGps_pxjl" message="tns:IService1_SaveHunanGps_pxjl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveHunanGps_pxjlResponse" message="tns:IService1_SaveHunanGps_pxjl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveHunanGps_pxjlByStr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveHunanGps_pxjlByStr" message="tns:IService1_SaveHunanGps_pxjlByStr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveHunanGps_pxjlByStrResponse" message="tns:IService1_SaveHunanGps_pxjlByStr_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHunanGps_pxjl">
      <soap:operation soapAction="http://tempuri.org/IService1/getHunanGps_pxjl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHunanGps_pxjl">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveHunanGps_pxjl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHunanGps_pxjlByStr">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveHunanGps_pxjlByStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://119.147.144.86:8384/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>